<h2>Create a New <span style="color: #0D723C;">Action Plan</span></h2>
<hr />
<div class="actionplan-body">
    <div class="iftt-wrapper">
        <div class="trigger-body">
            <div class="header-wrapper">
                <h2 class="item-callout">If</h2>
            </div>
            <div class="select-wrapper">
                <select class="dropdown-select" data-bind="options: availableTriggers, optionsText: 'displayText', value: selectedTrigger, optionsCaption: 'Choose a Trigger...'"></select>
            </div>
        </div>
        <div class="action-body">
            <div class="header-wrapper">
                <h2 class="item-callout">&hellip;Then</h2>
            </div>
            <div class="select-wrapper">
                <select data-bind="options: availableActions, optionsText: 'displayText', value: selectedAction, optionsCaption: 'Choose an Action...'"></select>
            </div>
        </div>
    </div>

    <div class="actionplan-creation-body">

        <div class="creation-row">
            <div id="trigger-1" class="trigger-cell">
                <span class="dropdown-label"></span>
                <span class="input-wrapper">
                    <select class="dropdown-select" data-bind="options: availableUsers, optionsText: 'fullName', value: selectedUser, optionsCaption: 'Choose a User...'"></select>
                </span>
            </div>
            <div id="action-1" class="action-cell">
                <span class="dropdown-label"></span>
                <span class="input-wrapper">
                    <input id="action-1-contactinfo" type="text" data-bind="value: email" />
                    <input id="action-1-amount" type="text" data-bind="value: targetAmount" placeholder="Amount or Percent" />
                </span>
            </div>
        </div>
        <div class="creation-row">
            <div id="trigger-2" class="trigger-cell">
                <span class="dropdown-label"></span>
                <span class="input-wrapper">
                    <input id="trigger-2-textfield" type="text" data-bind="currency: amount, value: amount, visible: selectedTrigger() && selectedTrigger().id !== 4" />
                    <select id="trigger-2-select" class="dropdown-select" data-bind="options: availableGoals, optionsText: 'description', value: selectedGoal, optionsCaption: 'Choose a Goal...'"></select>
                </span>
            </div>
            <div id="action-2" class="action-cell">
                <span class="dropdown-label"></span>
                <span class="input-wrapper">
                    <select class="dropdown-select" data-bind="options: availableAccounts, value: selectedAccount"></select>
                </span>
            </div>
        </div>
        <div class="creation-row">
            <div id="trigger-3" class="trigger-cell">
                <span class="dropdown-label"></span>
                <span class="input-wrapper">
                    <select data-bind="options: availableTimeFrames, optionsText: 'text', value: selectedTimeFrame, optionsCaption: 'Choose a Period...'"></select>
                </span>
            </div>
            <div id="action-3" class="action-cell">
            </div>
        </div>
        <div class="creation-row">
            <div id="trigger-4" class="trigger-cell">
                    <span class="dropdown-label"></span>
                    <span class="input-wrapper">
                        <select data-bind="options: availableCategories, optionsText: 'text', value: selectedCategory, optionsCaption: 'Choose a Category...'"></select>
                    </span>
            </div>
            <div id="action-4" class="action-cell">
            </div>
        </div>
    </div>
</div>


<br />
<br />

@*<div data-bind="visible: selectedAction() && selectedAction() && (phone() || email())">
    <h2>Recap</h2>
    If <span data-bind="text: selectedUser().fullName"></span> <span data-bind="visible: selectedTrigger() && selectedTrigger().id === 1">spends more than $<span data-bind="text: amount()"></span></span> 
    <span data-bind="visible: selectedTrigger() && selectedTrigger().id === 2">withdraws more than $<span data-bind="text: amount()"></span></span>
    <span data-bind="visible: selectedTrigger() && selectedTrigger().id === 3">deposits more than $<span data-bind="text: amount()"></span></span>
    <span data-bind="visible: selectedTrigger() && selectedTrigger().id === 4">meets his or her <span data-bind="text: selectedGoal().description"></span> goal</span>
</div>*@

<button style="background-color: #ec6b2f; position:absolute; bottom: 100px; right: 215px;" data-bind="click: createActionPlan">Make my Plan!</button>

@section Scripts {
    @Scripts.Render("~/Scripts/IFTT/viewModel.js")
    @Scripts.Render("~/Scripts/jquery.selectric.js")
    @Scripts.Render("~/Scripts/IFTT/iftt-view.js")
}

@section Styles{
    @Styles.Render("~/Content/actionplan.css")
    @Styles.Render("~/Content/selectric.css")

}